* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-container {
  padding: 50px;
}

.todo-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-form {
  display: flex;
  gap: 20px;
}

.input-text {
  color: #fafafa;
  padding: 10px 30px;
  border-radius: 10px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.add-btn {
  cursor: pointer;
  padding: 10px 15px;
  color: #fafafa;
  border: 1px solid white;
  border-radius: 10px;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tasks-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
}

.tasks-list li {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 116px;
  margin: 10px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  width: 180px;
}

.delete-all {
  padding: 10px 116px;
  color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hidden {
  visibility: hidden;
}
